@model RentalAppMVC.DTOs.ApartmentDTO

@{
    ViewData["Title"] = "Details";
}



<div class="card mb-4" style="max-width: 600px; margin: auto;">
   
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Title" />
    }

    <div class="card-body">

        <h6 class="text-muted">Type: @Model.Type</h6>


        <h3 class="card-title">@Model.Title</h3>


        <p class="card-text"><strong>Address:</strong> @Model.Address</p>


        <p class="card-text"><strong>Price:</strong> $@Model.Price / month</p>

        <hr />


        <p class="card-text"><strong>Description:</strong><br />@Model.Description</p>

        <hr />


        <p class="card-text"><strong>Floor Number:</strong> @Model.FloorNumber</p>


        <p class="card-text">
            <strong>Elevator:</strong>
            @(Model.HasElevator ? "Yes" : "No")
        </p>
        <p class="card-text">
            <strong>Pets:</strong> @(Model.Pets ? "Yes" : "No")
        </p>

        <p class="card-text">
            <strong>Furniture:</strong> @(Model.Furnitured ? "Yes" : "No")
        </p>

        <p class="card-text">
            <strong>AC:</strong> @(Model.AC ? "Yes" : "No")
        </p>

        <p class="card-text">
            <strong>Balcony:</strong> @(Model.Balcony ? "Yes" : "No")
        </p>

        <p class="card-text">
            <strong>Garage:</strong> @(Model.Garage ? "Yes" : "No")
        </p>

        <p class="card-text">
            <strong>TV:</strong> @(Model.Tv ? "Yes" : "No")
        </p>

        <p class="card-text">
            <strong>Wifi:</strong> @(Model.Wifi ? "Yes" : "No")
        </p>


        <form asp-controller="Apartments"
              asp-action="Rent"
              asp-route-id="@Model.Id"
              method="post"
              class="d-inline">
            <button type="submit"
                    class="btn btn-primary"
            @(Model.IsAvailable ? "" : "disabled")>
                @(Model.IsAvailable ? "Rent" : "Already Rented")
            </button>
        </form>


        <a asp-controller="Apartments"
           asp-action="Index"
           class="btn btn-link">
            Back to List
        </a>
    </div>
</div>
